p {
    color: grey;
    justify-content: center;
}
a{
    padding-left: 20px;
}
#container {
    background-image: url(p_head.jpg);
    width: 1200px;
    height: 150px;
    margin: 0 auto;
}
#username {
    font-family: cursive;
    font-size: 20px;
    color: #e34444;
}
#head_text {
    font-family: cursive;
    font-size: 70px;
    color: #ebdebe;
}
#left {
    width: 200px;
    float: left;
}
#sign_in {
    background-color: #bee5eb;
    font-size: 16px;
}
#add_new {
    background-color: #bee5eb;
    font-size: 16px;
}
#right {
    width: 300px;
    float: right;
    background-color: #bee5eb;
}
#main_list {
    width: 600px;
    margin: 0 300px 0 220px; /* Отступ на ширину левой и правой колонки*/
}
#add_btn{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.node {
    width: 500px;
    background-color: #d8beeb;
    margin: 10px 0 0 0;
    margin: 0 350px 30px 270px; /* Отступ на ширину левой и правой колонки*/
}
.text {
    padding-left: 10px;
}
.flashes{
    font-family: cursive;
    font-size: 24px;
    font-weight: bold;
}

/* логин и пароль */
input[type=text],input[type=string], input[type=password] {
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Для всех кнопок */
button {
    background-color: #d8beeb;
    color: black;
    padding: 10px 10px;
    margin: 8px 0;
}