<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>АЧёПожарть?</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
{% extends "mess.html" %}
{% block body %}
<body bgcolor="#ebdebe">
    <div id="container">
        <h1 align="center" id="head_text">АЧёПожарть?</h1>
        <br><br>
        <div id="left">
            <h3 id="username">Пользователь: {{ name }}</h3>
            <form id="sign_in" action="/login" method="post">
              <div class="container">
                <label for="uname"><b>Логин</b></label>
                <input type="text" placeholder="Введите логин" name="uname" required>

                <label for="psw"><b>Пароль</b></label>
                <input type="password" placeholder="Введите пароль" name="psw" required>

                <button type="submit">Вход</button>
              </div>
            </form>
            <a href={{ url_for('registr') }}>Регистрация</a><br>

                <br><br>
            <form id="add_new" action="/add" method="post">
                <h3 class="text">  Добавление нового рецепта:</h3>
                <p>
                    <i>Название:</i>
                    <input type="string" placeholder="Название" name="name">
                </p>
                <p>
                    <i>Из какой кухни:</i>
                    <select name="country">
                        <option>Грузинской</option>
                        <option>Казахской</option>
                        <option>Испанской</option>
                        <option>Итальянской</option>
                        <option>Русской</option>
                        <option>Японской</option>
                    </select>
                </p>
                <p>
                    <i>Тип:</i>
                    <select name="type">
                        <option>Суп</option>
                        <option>Горячее</option>
                        <option>Гарнир</option>
                        <option>Салат</option>
                        <option>Напиток</option>
                        <option>Десерт</option>
                    </select>
                </p>
                <p>
                    <i>Ингридиенты(через запятую):</i>
                    <input type="text" name="ingredients">
                </p>
                <p>
                    <i>Приготовление:</i>
                    <input type="text"  name="cooking">
                </p>
                 <button id="add_btn" type="submit">Добавить</button>
            </form>

        </div>

        <div id="right">
            <form action="/search" method="post">
                <p>
                    <i>Поиск по названию:</i>
                    <input type="string" name="name">
                  <button type="submit">Найти</button>
                </p>
            </form>

            <a href="{{ url_for('main') }}">Сбросить все фильтры</a><br>
            <h3 class="text">Выберите тип блюд для отображения:</h3>
            <a href={{ url_for('filter', type="Суп", country='1') }}>Супы</a><br>
            <a href={{ url_for('filter', type="Горячее", country="1") }}>Горячее</a><br>
            <a href={{ url_for('filter', type="Гарнир", country="1") }}>Гарниры</a><br>
            <a href={{ url_for('filter', type="Салат", country="1") }}>Салаты</a><br>
            <a href={{ url_for('filter', type="Напиток", country="1") }}>Напитки</a><br>
            <a href={{ url_for('filter', type="Десерт", country="1") }}>Десерты</a><br>
            <h3 class="text">Выберите кухню:</h3>
            <a href={{ url_for('filter', type="1", country="Грузинской") }}>Грузинская</a><br>
            <a href={{ url_for('filter', type="1", country="Казахской") }}>Казахская</a><br>
            <a href={{ url_for('filter', type="1", country="Испанской") }}>Испанская</a><br>
            <a href={{ url_for('filter', type="1", country="Итальянской") }}>Истальянская</a><br>
            <a href={{ url_for('filter', type="1", country="Русской") }}>Русская</a><br>
            <a href={{ url_for('filter', type="1", country="Японской") }}>Японская</a><br>

        </div>

        <div class="main_list" action="/soup" method="POST">
            {% for node in nods %}
            <div class="node" >
                <h3>{{ node.get('name')}}</h3>
                <i>{{ node.get('type')}} из {{ node.get('country')}} кухни</i><br>
                <b>Ингридиенты:</b>{{ node.get('ingredients')}}<br>
                <b>Приготовление:</b>{{ node.get('cooking')}}<br>
                <b>Автор: </b>{{ node.get('user_id')}}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
</html>