<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/reg.css">
</head>
{% extends "mess.html" %}
{% block body %}
<body bgcolor="#ebdebe">
    <form id="main" action="/reg" method="post">
      <div class="container">
        <b1 id="title">Регистрация</b1><br>
        <label><b>Придумайте имя пользователя:</b></label>
        <input type="text" placeholder="Введите логин" name="name" required/><br>

        <label><b>Ваш e-mail:</b></label>
        <input type="text" placeholder="Введите почту" name="email" required/><br>

        <label><b>Придумайте пароль:</b></label>
        <input type="password" name="psw" required/><br>

        <label><b>Повторите пароль:</b></label>
        <input type="password" name="psw2" required/><br>

        <button type="submit">Зарегеристрироваться и войти</button>
      </div>
    </form>
<a href="{{ url_for('main') }}">Вернуться на главную страницу</a><br>
</body>
{% endblock %}
</html>